APScheduler==3.11.0
asttokens==3.0.0
backcall==0.2.0
blinker==1.9.0
certifi==2025.10.5
charset-normalizer==3.4.4
click==8.3.0
decorator==5.2.1
executing==2.2.1
-e git+ssh://git@github.com/nilswiersma/fantasy-ranking.git@cd9265a6487b8e6327cf5810289a6ab7acda9986#egg=fantasy_ranking
Flask==3.1.2
idna==3.11
ipython==9.6.0
ipython_pygments_lexers==1.1.1
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
MarkupSafe==3.0.3
matplotlib-inline==0.1.7
numpy==2.3.4
pandas==2.3.3
parso==0.8.5
pexpect==4.9.0
pickleshare==0.7.5
prompt_toolkit==3.0.52
ptyprocess==0.7.0
pure_eval==0.2.3
Pygments==2.19.2
python-dateutil==2.9.0.post0
pytz==2025.2
pytz-deprecation-shim==0.1.0.post0
requests==2.32.5
setuptools==80.9.0
six==1.17.0
stack-data==0.6.3
traitlets==5.14.3
tzdata==2025.2
tzlocal==5.3.1
urllib3==2.5.0
waitress==3.0.2
wcwidth==0.2.14
Werkzeug==3.1.3
