<!doctype html>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<meta name="viewport" content="width=device-width, initial-scale=1.0"> 

<table id="scoreBoard">
    <tr>
        <th rowspan="2" colspan="2"/>
        <th>Nils</th>
        <th>Eric</th>
    </tr>
    <tr>
    </tr>
    {% for season, season_data in data.events.items() |season_sort |reverse %}
        <tr>
            <th class="seasonHeader" season="{{ season }}" colspan="2" align="center">{{ season }}</th>
            <th class="seasonHeader" season="{{ season }}" align="center">
                {% if data.totals[season] %}
                    {{ data.totals[season][1355207] }}
                {% endif %}
            </th>
            <th class="seasonHeader" season="{{ season }}" align="center">
                {% if data.totals[season] %}
                    {{ data.totals[season][1223636] }}
                {% endif %}
            </th>
        </tr>
        {% for event, event_data in season_data.items() |sort |reverse %}
        <tr class="seasonRow" season="{{ season }}" event="{{ event }}">
            <th rowspan="3">
                <a target="_blank" rel="noopener noreferrer" href="https://www.hltv.org/fantasy/{{ event }}/overview">
                    {{event_data.name}}
                </a> 
                <a target="_blank" rel="noopener noreferrer" href="{{ url_for('stats') }}?event={{ event }}">📈</a>

            </th>
            <th align="left">Placement</th>
            {% if data.points[event] %}
                {% if data.points[event][1355207] %}
                <td class="colorScaleCell">{{ data.points[event][1355207].teamPlacementPercent |int }}%</td>
                {% else %}
                <td rowspan="3"><a target="_blank" rel="noopener noreferrer" href="https://www.hltv.org/fantasy/{{ event }}/leagues/join">JOIN NOW!</a></td>
                {% endif %}
                {% if data.points[event][1223636] %}
                <td class="colorScaleCell">{{ data.points[event][1223636].teamPlacementPercent |int }}%</td>
                {% else %}
                <td rowspan="3"><a target="_blank" rel="noopener noreferrer" href="https://www.hltv.org/fantasy/{{ event }}/leagues/join">JOIN NOW!</a></td>
                {% endif %}
            {% else %}
                <td rowspan="3"><a target="_blank" rel="noopener noreferrer" href="https://www.hltv.org/fantasy/{{ event }}/leagues/join">JOIN NOW!</a></td>
                <td rowspan="3"><a target="_blank" rel="noopener noreferrer" href="https://www.hltv.org/fantasy/{{ event }}/leagues/join">JOIN NOW!</a></td>
            {% endif %}
        </tr>
        <tr class="seasonRow" season="{{ season }}" event="{{ event }}">
            <th class="eventDetailsCell" align="left" hidden>Points</th>
            {% if data.points[event] %}
                {% if data.points[event][1355207] %}
                <td class="eventDetailsCell" hidden><a target="_blank" rel="noopener noreferrer" href="https://www.hltv.org/fantasy/{{ event }}/user/1355207/overview/gameredirect">
                    {% set team = data.points[event][1355207] %}
                    {% set teamSum = team['teamTeamPoints'] + team['teamBoostPoints'] + team['teamPlayerPoints'] + team['teamRolePoints'] %}
                    {{ teamSum |int }} ({{ team['teamTeamPoints'] |int }} + {{ team['teamBoostPoints'] |int }} + {{ team['teamPlayerPoints'] |int }} + {{ team['teamRolePoints'] |int }})
                </a></td>                
                {% endif %}
                {% if data.points[event][1223636] %}
                <td class="eventDetailsCell" hidden><a target="_blank" rel="noopener noreferrer" href="https://www.hltv.org/fantasy/{{ event }}/user/1223636/overview/gameredirect">
                    {% set team = data.points[event][1223636] %}
                    {% set teamSum = team['teamTeamPoints'] + team['teamBoostPoints'] + team['teamPlayerPoints'] + team['teamRolePoints'] %}
                    {{ teamSum |int }} ({{ team['teamTeamPoints'] |int }} + {{ team['teamBoostPoints'] |int }} + {{ team['teamPlayerPoints'] |int }} + {{ team['teamRolePoints'] |int }})
                </a></td>
                {% endif %}
            {% endif %}
        </tr>
        <tr class="seasonRow" season="{{ season }}" event="{{ event }}">
            <th class="eventDetailsCell" align="left" hidden>Season</th>
            {% if data.points[event] %}
                {% if data.points[event][1355207] %}
                <td class="eventDetailsCell" hidden>{{ data.points[event][1355207].teamSeasonPoints |int }}</td>
                {% endif %}
                {% if data.points[event][1223636] %}
                <td class="eventDetailsCell" hidden>{{ data.points[event][1223636].teamSeasonPoints |int }}</td>
                {% endif %}
            {% endif %}
        </tr>
        {% endfor %}
    {% endfor %}
</table>

<script>

function normalizeHslRedYellowGreen(min, max, val, reverse) {
    // green -> yellow -> red with hue is 120 -> 60 -> 0
    // var saturation = Math.abs(val - 50)/50;   // fade to white as it approaches 50
    var hue = Math.floor((val - min) / (max - min) * 120);
    if (reverse) {
        hue = 120 - hue;
    }
    // clamp to these color values
    hue = Math.min(hue, 120);
    hue = Math.max(hue, 0);
    return "hsl(" + hue + ", 50%, 20%)";
}

function hideSeasonDetails(args) {
    let season = args.target.getAttribute('season');
    document.querySelectorAll(`.seasonRow[season="${season}"]`).forEach(function(seasonRow, idx) {
        seasonRow.hidden = !seasonRow.hidden;
    });
}

function hideEventDetails(args) {
    let event = args.target.parentElement.getAttribute('event');
    document.querySelectorAll(`[event="${event}"]`).forEach(function(seasonRow, idx) {
        seasonRow.querySelectorAll('.eventDetailsCell').forEach(function(cell, idx) {
            cell.hidden = !cell.hidden;
        });
    });
}

window.addEventListener('load', async () => {
    document.querySelectorAll('.colorScaleCell').forEach(function(cell, idx) {
        let hsl_css = normalizeHslRedYellowGreen(0, 100, parseFloat(cell.innerHTML), true);
        // console.log(cell);
        cell.style.backgroundColor = hsl_css;
    });

    document.querySelectorAll('.seasonHeader').forEach(function(seasonHeader, idx) {
        seasonHeader.onclick = hideSeasonDetails;
        if (idx != 0) {
            seasonHeader.click();
        }
    });

    document.querySelectorAll('.seasonRow').forEach(function(seasonRow, idx) {
        seasonRow.onclick = hideEventDetails;
    });
}, false);
</script>