body,
html {
    background-color: #1b1f23;
    color: #929a9e;
    font-family: Open Sans, sans-serif;
    font-size: 12px;
    line-height: 1.66667;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .5);
    background-color: #2d3844;
}

tr {
    border-top: 1px solid #495867;
}

th {
    background-color: #364250;
}

td,
th {
    max-width: 40px;
    white-space: wrap;
    overflow: hidden;
    /* text-overflow: ".."; */
    border-left: 1px solid #495867;
    border-right: 1px solid #495867;
    padding: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
}

a {
    text-decoration: none;
    color: #87a3bf;
}

#scoreBoard {
    width: 100%;
    max-width: 975px;
}

.statsTable {
    /* width: 980px; */
    white-space: nowrap;
}

.playerSelectable {

}

.playerUnselectable {
    /* background-color: #080e14; */
    background-color: #2b3035;
    /* color: #2b3035; */
    color: #565c5f;
    /* color: #000000; */
}

.playerSelected {
    background-color: #274a6d;
    color: #ecf0f1;
}

#playerTable, td {
    /* max-width: none;
    white-space: none;
    overflow: none;
    text-overflow: none;
    min-width: 60px; */
}

table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after { 
    content: " \25B4\25BE" 
}