<!doctype html>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script src="{{ url_for('static', filename='sorttable.js') }}"></script>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<button onclick="readTeam('nils')">Read team Nils</button>
<button onclick="readTeam('eric')">Read team Eric</button>
<button onclick="collectMoreStats()">More stats!</button>
<button onclick="clearCache()">Clear cache</button>
<button onclick="toggleHideUnselectable()">Toggle unselectable</button>

<div id="moreStatsInstructions"></div>
<div id="moreStatsStatus"></div>

<table id="selectedTeamTable" class="statsTable">
    <thead id="selectedTeamTableHead"></thead>
    <tbody id="selectedTeamTableBody"></tbody>
    <tfoot id="selectedTeamTableFoot"><tr>
        <td><b>budget:</b></td>
        <td colspan="2"><span id="teamCost">0</span> / <span id="budgetLeft">0</span></td>
        <td><b>avgs:</b></td>
    </tr></tfoot>
</table>
<br/>
<table id="playerTable" class="statsTable">
    <thead id="playerTableHead"></thead>
    <tbody id="playerTableBody"></tbody>
</table>

<div id="resp"></div>

<script>

var selectedTeam = [];
var playerData = {};
var tableHeaders = [];
var unselectableHidden = false;

tableHeaders.push('name');
tableHeaders.push('cost');
tableHeaders.push('playerLevel');
tableHeaders.push('teamName');
tableHeaders.push('teamRank');
tableHeaders.push('r/$');
tableHeaders.push('rating');
tableHeaders.push('1-rating');
tableHeaders.push('3-rating');
tableHeaders.push('1-3-rDiff');
tableHeaders.push('awpKillsPerRound');
tableHeaders.push('cluthesPerRound');
tableHeaders.push('dpr');
tableHeaders.push('entryFragsPerRound');
tableHeaders.push('hsPercentage');
tableHeaders.push('multiKillRounds');
tableHeaders.push('supportRounds');
tableHeaders.push('ctRating');
tableHeaders.push('tRating');
tableHeaders.push('1-maps');
tableHeaders.push('1-rounds');
tableHeaders.push('1-kd_diff');
tableHeaders.push('1-kd_ratio');
tableHeaders.push('3-maps');
tableHeaders.push('3-rounds');
tableHeaders.push('3-kd_diff');
tableHeaders.push('3-kd_ratio');

function toggleHideUnselectable() {
    unselectableHidden = !unselectableHidden;
    document.querySelectorAll('.playerUnselectable');
    forEach(document.querySelectorAll('.playerUnselectable'), function(node) { 
        node.hidden = unselectableHidden;
    }); 
}

function clearCache() {
    localStorage.removeItem(`https://www.hltv.org/fantasy/{{event}}/overview`);
}

function buildPlayerRow(name) {
    var cell;
    var row = document.createElement("tr");
    row.id = `_${name}`;
    forEach(tableHeaders, function(header) {
        cell = document.createElement("td"); cell.innerHTML = playerData[name][header]; row.appendChild(cell);
    });
    return row;
}

function updateTeamFoot(args) { 
    var teamCost = 0;
    var teamRating = 0;
    if (selectedTeam.length > 0) {
        forEach(selectedTeam, function(player) {
            teamCost += playerData[player]['cost'];
            teamRating += parseFloat(playerData[player]['rating']);
        });
        document.querySelector('#teamCost').innerHTML = teamCost;
        document.querySelector('#budgetLeft').innerHTML = 1000000 - teamCost;

        var averages = {};
        forEach(tableHeaders.slice(4), function(header) {
            averages[header] = 0;
            forEach(selectedTeam, function(player) {
                averages[header] += parseFloat(playerData[player][header]);
            });
            averages[header] = averages[header] / selectedTeam.length;
        });

        // remove all previous calculations and re-add them
        x = document.querySelector('#selectedTeamTableFoot').children[0].children;
        if (Object.entries(x).slice(3).length > 0) {
            forEach(Object.entries(x).slice(3), function(node) {
                node[1].remove();
            })
        }
        var cell;
        forEach(averages, function(avg) {
            cell = document.createElement("td"); cell.innerHTML = avg.toFixed(4); document.querySelector('#selectedTeamTableFoot').children[0].appendChild(cell);
        });
    }
}

function updatePlayerTable(args) {
    forEach(document.querySelector('#playerTableBody').children, function(row) {
        row.classList.remove(...row.classList);
        row.hidden = false;
        var playerName = row.children[0].innerHTML;
        if (selectedTeam.includes(playerName)) {
            row.classList.add('playerSelected');
        } 

        else if (parseInt(document.querySelector('#budgetLeft').innerHTML) < playerData[playerName]['cost']) {
            row.classList.add('playerUnselectable');
            row.hidden = unselectableHidden;
        } else {
            var teamCtr = 0;
            forEach(selectedTeam, function(player) {
                if (playerData[playerName]['teamName'] == playerData[player]['teamName']) {
                    teamCtr += 1;
                }
            });
            if (teamCtr >= 2) {
                row.classList.add('playerUnselectable');
                row.hidden = unselectableHidden;
            } else {
                row.classList.add('playerSelectable');
            }
        }
    });
}

function removePlayerFromTeamClick(args) {
    var name = args.target.parentNode.id.replace('Team', '').replace('_', '');
    removePlayerFromTeam(name);
}

function removePlayerFromTeam(name) {
    document.querySelector(`#_${name}Team`).remove();
    // document.querySelector(`#_${name}`).onclick = addPlayerToTeamClick;
    selectedTeam.splice(selectedTeam.indexOf(name), 1);
    updateTeamFoot();
    updatePlayerTable();
}

function addPlayerToTeamClick(args) {
    addPlayerToTeam(args.target.parentNode);
}

function addPlayerToTeam(node) {
    var name = node.id.replace('_', '');
    if (selectedTeam.length >= 5) {
        console.log('already 5 players in team');
        return;
    }
    if (selectedTeam.includes(name)) {
        console.log(`${name} already in team`);
        return;
    }
    // check if there are already two players with the same team in selectedTeam
    var teamName = playerData[name]['teamName'];
    var teamCtr = 0;
    forEach(selectedTeam, function(name2) {
        if (playerData[name2]['teamName'] == teamName) {
            teamCtr += 1;
        }
    });
    if (teamCtr == 2) {
        console.log(`already 2 players from ${teamName} in team`);
        return;
    }
    
    selectedTeam.push(name);
    var playerRow = node.cloneNode(true);
    playerRow.id = `_${name}Team`;
    playerRow.classList.remove(...playerRow.classList);
    playerRow.onclick = removePlayerFromTeamClick;
    // node.children[0].onclick = removePlayerFromTeamClick; // TODO make this work

    document.querySelector('#selectedTeamTableBody').appendChild(playerRow);
    updateTeamFoot();
    updatePlayerTable();
}

function readTeam(fantasyPlayer) {
    fetch('{{ url_for("team") }}', {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
        },
        mode: "no-cors",
        origin: null,
        referrerPolicy: "no-referrer",
        body: JSON.stringify({
            "event": "{{ event }}",
            "league": "{{ league }}",
            "fantasyPlayer": fantasyPlayer,
        })
    }).then(function(resp) {
        var ret = resp.json();
        return ret;
    }).then(function(data) {
        selectedTeam = [];
        document.querySelector('#selectedTeamTableBody').innerHTML = '';
        // forEach(selectedTeam, function(player) { 
        //     removePlayerFromTeam(player);
        // })
        forEach(data['teamOverviewPlayers'], function(player) {
            // console.log(player);
            addPlayerToTeam(document.querySelector(`#_${player['player']['name']}`));
        });
    });
}

function collectMoreStats() {
    document.querySelector('#moreStatsInstructions').innerHTML = 'Copy <a href="{{ url_for('static', filename='more-stats.js') }}">this code</a>, paste it in the window that <button onclick="window.open(`https://www.hltv.org/fantasy/{{event}}/overview`);">this button opens</button>, and then come back here and wait a minute or two.';
    document.querySelector('#moreStatsStatus').innerHTML = 'Waiting for more stats to come in..';
}

function moreStatsHandler(event) {
    // console.log(event);
    // window.removeEventListener("message", moreStatsHandler);
    document.querySelector('#moreStatsInstructions').innerHTML = '';
    forEach(event.data, function(stats, playerName) {
        if (!(playerName in playerData)) {
            console.debug(`${playerName} not in playerData`);
        } else {
            playerData[playerName] = {...playerData[playerName], ...stats};
            playerData[playerName]['1-3-rDiff'] = (playerData[playerName]['1-rating'] - playerData[playerName]['3-rating']).toFixed(2);
        }
    });
    localStorage.setItem('https://www.hltv.org/fantasy/{{event}}/overview', JSON.stringify(playerData));
    buildPlayerTable();
    document.querySelector('#moreStatsStatus').innerHTML = 'Additional stats coming in!';
}

function buildPlayerTable() {
    document.querySelector('#playerTableBody').innerHTML = ''; 
    forEach(playerData, function(_, player) {
        row = buildPlayerRow(player);
        row.children[0].onclick = addPlayerToTeamClick;
        document.querySelector('#playerTableBody').appendChild(row);
    });
}

window.addEventListener('load', async () => {
    var cachedPlayerData = localStorage.getItem('https://www.hltv.org/fantasy/{{event}}/overview');
    if (!!cachedPlayerData) {
        console.log('using cached playerData');
        playerData = JSON.parse(cachedPlayerData);
    } else {
        await fetch('{{ url_for("stats") }}', {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            mode: "no-cors",
            origin: null,
            referrerPolicy: "no-referrer",
            body: JSON.stringify({
                "event": "{{ event }}",
                "league": "{{ league }}",
            })
        }).then(function(resp) {
            var ret = resp.json();
            return ret;
        }).then(function(data) {
            // document.querySelector('#resp').textContent = JSON.stringify(data);
            console.log(data);
            

            forEach(data['moneyDraftData']['teams'][0]['players'][0]['playerData']['stats'], function(stat, statName) {
                if (tableHeaders.indexOf(statName) == -1) {
                    console.log(`${statName} not in tableHeaders`)
                }
            });

            forEach(data['moneyDraftData']['teams'], function(team) {
                forEach(team['players'], function(player) {
                    // waiting for the day there are two players with exact same name
                    playerData[player['playerData']['name']] = {}
                    forEach(tableHeaders, function(header) {
                        playerData[player['playerData']['name']][header] = player['playerData']['stats'][header];
                    });
                    playerData[player['playerData']['name']]['name'] = player['playerData']['name'];
                    playerData[player['playerData']['name']]['cost'] = player['cost'];
                    playerData[player['playerData']['name']]['playerLevel'] = player['playerData']['playerLevel'];
                    playerData[player['playerData']['name']]['teamRank'] = team['rank'];
                    playerData[player['playerData']['name']]['teamName'] = team['teamData']['name'];
                    playerData[player['playerData']['name']]['r/$'] = (100000 * player['playerData']['stats']['rating'] / player['cost']).toFixed(4);
                });
            });
            
        });
    }

    var cell;
    var row = document.createElement("tr");
    forEach(tableHeaders, function(header) {
        cell = document.createElement("th"); cell.innerHTML = header; row.appendChild(cell);        
    });
    document.querySelector('#playerTableHead').appendChild(row);
    document.querySelector('#selectedTeamTableHead').appendChild(row.cloneNode(true));
    sorttable.makeSortable(document.querySelector('#playerTable'));
    sorttable.makeSortable(document.querySelector('#selectedTeamTable'));    
    buildPlayerTable();
    window.addEventListener("message", moreStatsHandler, false);
}, false);




// // transfers sessionStorage from one tab to another
// var sessionStorage_transfer = function(event) {
//     console.log('Session storage event!');
//   if(!event) { event = window.event; } // ie suq
//   if(!event.newValue) return;          // do nothing if no value to work with
//   if (event.key == 'getSessionStorage') {
//     // another tab asked for the sessionStorage -> send it
//     localStorage.setItem('sessionStorage', JSON.stringify(sessionStorage));
//     // the other tab should now have it, so we're done with it.
//     localStorage.removeItem('sessionStorage'); // <- could do short timeout as well.
//   } else if (event.key == 'sessionStorage' && !sessionStorage.length) {
//     // another tab sent data <- get it
//     var data = JSON.parse(event.newValue);
//     for (var key in data) {
//       sessionStorage.setItem(key, data[key]);
//     }
//   }
// };

// listen for changes to localStorage
// if(window.addEventListener) {
//   window.addEventListener("storage", sessionStorage_transfer, false);
// } else {
//   window.attachEvent("onstorage", sessionStorage_transfer);
// };

</script>

