<!doctype html>
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 

{% if can_refresh %}
<form method="post">
    <input name="refresh" style="visibility: hidden; width: 0px;"><input type="submit" value="refresh">
</form>
{% endif %}

<table style="border-collapse: collapse;"">
    <tr>
        <td rowspan="2" colspan="2"/>
        <th>Nils</th>
        <th>Eric</th>
    </tr>
    <tr>
        <td>
            <form method="post">
                <input name="nils_hltvlink" id="nils_hltvlink" style="width: 30%" required>
                <input type="submit" value="set">
            </form>
        </td>
        <td>
            <form method="post">
                <input name="eric_hltvlink" id="eric_hltvlink" style="width: 30%" required>
                <input type="submit" value="set">
            </form>
        </td>
    </tr>
    {% for season, season_data in data.items() %}
        <tr style="border-top: 1px solid black">
            <th>{{ season }}</th>
            <th align="left">Total</th>
            <td align="right">{{ season_data.totals[0] }}</td>
            <td align="right">{{ season_data.totals[1] }}</td>
        </tr>
        {% for event, data in season_data.events.items() %}
        <tr style="border-top: 1px solid black">
            <th rowspan="3">
                <a target="_blank" rel="noopener noreferrer" href="https://www.hltv.org/fantasy/{{ event[0] }}/overview">{{ event[1] }}</a>
            </th>
            <th align="left">Points</th>
            {% if not data[0] %}
            <td rowspan="3" align="center">
                {% if event[2] == 'DraftEvent' %}
                    <a target="_blank" rel="noopener noreferrer" href="https://www.hltv.org/fantasy/{{ event[0] }}/leagues/join">JOIN NOW!</a>
                {% else %}
                    N/A
                {% endif %}
            </td>
            {% else %}
                <td align="right">
                    <a target="_blank" rel="noopener noreferrer" href="https://www.hltv.org/fantasy/{{ data[0][0] }}/league/{{ data[0][1] }}/team/{{ data[0][2] }}">{{ data[0][4] }}</a>
                </td>
            {% endif %}
            {% if not data[1] %}
            <td rowspan="3" align="center">
                {% if event[2] == 'DraftEvent' %}
                    <a target="_blank" rel="noopener noreferrer" href="https://www.hltv.org/fantasy/{{ event[0] }}/leagues/join">JOIN NOW!</a>
                {% else %}
                    N/A
                {% endif %}
            </td>
            {% else %}
                <td align="right">
                    <a target="_blank" rel="noopener noreferrer" href="https://www.hltv.org/fantasy/{{ data[1][0] }}/league/{{ data[1][1] }}/team/{{ data[1][2] }}">{{ data[1][4] }}</a>
                </td>
            {% endif %}
        </tr>
        <tr>
            <th align="left">Placement</th>
            {% if data[0] %}
                <td align="right">{{ data[0][5] }}%</td>
            {% endif %}
            {% if data[1] %}
                <td align="right">{{ data[1][5] }}%</td>
            {% endif %}
        </tr>
        <tr>
            <th align="left">Season points</th>
            {% if data[0] %}
                <td align="right">{{ data[0][6] }}</td>
            {% if data[1] %}
            {% endif %}
                <td align="right">{{ data[1][6] }}</td>
            {% endif %}
        </tr>
        {% endfor %}
    {% endfor %}
</table>